<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <% messages.forEach((item) => { %>
      <h2><%= item.user %></h2>
      <p><%= item.text %></p>
      <label><%= item.added %></label>
    <% }) %>
    <br>
    <input type="button" onclick="location.href='/new';" value="Post a message" />
  </body>
</html>
